.cart-container{
    padding: 2rem;
    width: 100%;
    display: flex;
 }
 .cart-container .cart-table-wrapper{
   width: 70%;
 }

 .cart-table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
   background-color: #fff;
 }
 
.cart-table tr{
   min-height: 500px;
}

 .cart-table td, .cart-table th {
   border: 0px solid #ddd;
   padding: 8px 30px;
   font-size: 15px;
   
 }
 
 .cart-table tr{border-bottom: 1px solid #c7c6c6;}
 
 .cart-table tr:hover {background-color: #ffffffc2;}
 
 .cart-table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #0f3a76;
   color: white;
 }

 .cart-item-image img{
   min-width: 100px;
   min-height: 100px;
 }

 .item-quantity{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .item-quantity .quantity-button{
   background-color: #181a559e;
   padding:5px 10px;
   font-size: 15px;
   color:#fff;
   cursor: pointer;
 }

 .item-quantity .quantity-button:hover{
   background-color: rgb(27, 27, 137);
 }

 .remove-button{
  color:red;
  cursor: pointer;
  font-weight: 900;
 }

 .cart-container .cart-summary-container{
   width:30%;
 }

 .cart-summary-container .cart-summary-wrapper{
   background-color: #777b8125;
   padding:2rem;
 }

 .cart-summary-heading{
   padding-bottom:1rem;
   font-size: 20px;
   font-weight: 900;

 }
 .cart-summary-table{
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
  
   
 }

 .cart-summary-table td{
   padding:1rem;
   font-size: 16px;
 }

 .checkout-button{
   background-color: #0f25769f;
   margin-top: 20px;
   padding:0.5rem;
   text-align: center;
   color:#fff;
   font-size: 15px;
   text-transform: uppercase;
   cursor: pointer;
 }

 .checkout-button:hover{
   background-color: #0f3a76;
 }

 @media screen and (max-width:1024px) {
   .cart-container{
      display: block;
   }
   .cart-container .cart-table-wrapper {
       width:100%
   }
   .cart-container .cart-summary-container{
      width:100%
   }
}

@media screen and (max-width:728px) {
   .cart-container .cart-table-wrapper{
      width:100%;
  }
}

@media screen and (max-width:500px) {
   .cart-container .cart-table-wrapper{
      width:100%
  }
}